.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.player-name {
  height: 42px;
  color: white;
  font-size: 30px;
}

.submit-game-button-row {
  margin-top: -350px;
}

.submit-game-button {
  height: 100px;
  background: black;
  color: white;
}

.score {
  font-size: 180px;
  height: 312px;
  font-family: 'ScoreboardFont';
  color: white;
}

.player-select {
  align-content: center;
}

.player-select > div{
  width: 300px;
  display: inline-block;
}

.player-area {
  height: 500px;
}

.player-area.one {
  background: red;
}

.player-area.two {
  background: blue;
}

.game-area {
  height: 800px;
}

.score-button {
  margin: 0;
  font-size: 100px;
  color: white;
  cursor: pointer;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white; 
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@font-face {
  font-family: 'ScoreboardFont'; /*a name to be used later*/
  src: url('digital-7.ttf'); /*URL to font*/
}
